In [1]:
#Import libraries
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')

In [80]:
# Read in the csv raw data file for public education expendtiure
csvfile = pd.read_csv("data_source/raw_data/public_expenditure_education.csv")
#Convert raw data files to Data Frame
raw_df = pd.DataFrame(csvfile)
#Remove the first row and replace with second row
new_header = raw_df.iloc[0]
raw_df = raw_df[1:]
raw_df.columns = new_header 
#Fill in blank column header

raw_df.columns = raw_df.columns.fillna('Country Name')

#Remove columns that are not needed (Source, Footnote)
clean_df = raw_df[['Region/Country/Area','Series', 'Country Name','Year','Value']]
clean_df = clean_df.rename(columns={'Region/Country/Area': 'Country ID', 'Value': 'Education Spend (%)' })

clean_df = clean_df.loc[clean_df['Series'].apply(lambda x: x in ['Public expenditure on education (% of government expenditure)','Public expenditure on education (% of GDP)'])]

clean_df['Series'] = clean_df['Series'].replace('Public expenditure on education (% of government expenditure)', 'Government Expenditure')
clean_df['Series'] = clean_df['Series'].replace('Public expenditure on education (% of GDP)', 'GDP')
clean_df =clean_df.reset_index(drop=True)
#Display the data frame
clean_df.head(10)

0 Country ID                  Series Country Name  Year Education Spend (%)
0          4  Government Expenditure  Afghanistan  2010             17.0676
1          4                     GDP  Afghanistan  2010               3.462
2          4  Government Expenditure  Afghanistan  2015              12.509
3          4                     GDP  Afghanistan  2015               3.242
4          4  Government Expenditure  Afghanistan  2017             15.6614
5          4                     GDP  Afghanistan  2017              3.9268
6          8  Government Expenditure      Albania  2005              11.358
7          8                     GDP      Albania  2005              3.2387
8          8  Government Expenditure      Albania  2007             11.1772
9          8                     GDP      Albania  2007              3.2687

In [82]:
#Write to csv in output_data
clean_df.to_csv ('data_source/output_data/public_education_clean.csv', index = False, header=True)

In [79]:
# Read in the csv raw data file for Consumer Price Index expendtiure
# Read in the csv raw data file for public education expendtiure
csvfile2 = pd.read_csv("data_source/raw_data/consumer_price_index.csv", encoding='latin-1')
#Convert raw data files to Data Frame
raw2_df = pd.DataFrame(csvfile2)
#Remove the first row and replace with second row
raw2_header = new_df.iloc[0]
raw2_df = new_df[1:]
raw2_df.columns = new_header 
#Fill in blank column header

raw2_df.columns = raw2_df.columns.fillna('Country Name')
#Convert raw data files to Data Frame

#Remove columns that are not needed (Source, Footnote)
cpi_df = raw2_df[['Region/Country/Area','Series', 'Country Name','Year','Value']]
cpi_df = cpi_df.rename(columns={'Region/Country/Area': 'Country ID','Value': 'CPI' })


cpi_df['Series'] = cpi_df['Series'].replace('Consumer price index: General', 'General')
cpi_df['Series'] = cpi_df['Series'].replace('Consumer price index: Food', 'Food')

#Display the data frame
cpi_df.head()

0 Country ID   Series Country Name  Year       CPI
2          4  General  Afghanistan  2010  100.0000
3          4  General  Afghanistan  2015  132.1177
4          4  General  Afghanistan  2016  137.9046
5          4  General  Afghanistan  2017  144.7692
6          4     Food  Afghanistan  2010  100.0000

In [5]:
# Read in the csv raw data file for GDP and GDP per Captia expendtiure

#Convert raw data files to Data Frame

#Remove columns that are not needed (Series, Source, Footnote)

#Display the data frame

In [6]:
# Read in the csv raw data file for Poverty Rate expendtiure

#Convert raw data files to Data Frame

#Remove columns that are not needed (Series, Source, Footnote)

#Display the data frame

In [7]:
# Read in the csv raw data file for R&D as a % of GDP expendtiure

#Convert raw data files to Data Frame

#Remove columns that are not needed (Series, Source, Footnote)

#Display the data frame

In [8]:
# Merge data frames to Public education data frame

#Drop N/A values

#Display clean DataFrame

In [9]:
# Write Data Frame to csv file and save to data_source folder

In [10]:
# Create Data Frame grouped by Country

In [ ]:
#Create Data Frame grouped by Year